{
    "command": "gunicorn -b {{ api_interface_address }}:{{ prometheus_ironic_exporter_port }} --env IRONIC_CONFIG=/etc/prometheus/ironic.conf --access-logfile=/var/log/kolla/prometheus/ipe_access.log --error-logfile=/var/log/kolla/prometheus/ipe_errors.log ironic_prometheus_exporter.app.wsgi:application",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/ironic.conf",
            "dest": "/etc/prometheus/ironic.conf",
            "owner": "prometheus",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/prometheus",
            "owner": "prometheus:kolla",
            "recurse": true
        }
    ]
}
