#!/bin/bash

for domain in {{ letsencrypt_domains | join(' ') }}; do
  mkdir -p /www/data/$domain
done

python -c 'import random; import time; time.sleep(random.random() * 3600)' \
  && /usr/local/bin/certbot renew
